@import url('https://fonts.googleapis.com/css?family=Berkshire+Swash');
// $main-font: 'Berkshire Swash', cursive, sans-serif;
:root{
  --main-font: 'Berkshire Swash', cursive, sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background-image: url("../images/background-image.jpg");
  background-size: cover;
  font-family: var(--main-font);
}

h1 {
  margin-top: 50px;
  text-align: center;
  color: #F4F4F4;
}

.main-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;

  .row{
    display: flex;
    width: 100vw;
    justify-content: space-evenly;
    margin-top: 50px;
  }

  .projects {
    width: 300px;
    height: 300px;
    border: 5px rgb(2, 32, 70) solid;
    -webkit-box-shadow: 0 0 5px 6px rgba(0,0,0,0.5);
    box-shadow: 0 0 5px 6px rgba(0,0,0,0.5);
  }

  //Flip card effect
  .project-card {
    position: relative;
    width: 300px;
    height: 300px;
    top: 0;
    left: 0;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transition: all 0.7s ease-in-out;
    -o-transition: all 0.7s ease-in-out;
    transition: all 0.7s ease-in-out;

    &:hover {
      -webkit-transform: rotateY(180deg);
      transform: rotateY(180deg);
    }

    .project1-card-front {
      background-image: url("../images/piano_project.jpg");
      position: absolute;
      top: 0;
      left: 0;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
      overflow: hidden;

      h2{
      text-align: center;
      }

      p {
        margin-top: 5px;
      }
    }

    .project2-card-front{
      background-image: url("../images/javascript_clock.jpg");
    }
    h2{
      text-align: center;
      text-shadow: 0px 2px 2px #1C6EA4;
    }

    .project3-card-front{
      background-image: url("../images/flexbox_panels.jpg");
    }

    .project4-card-front{
      background-image: url("../images/css_variables.jpg");
    }

    .project5-card-front{
      background-image: url("../images/to_do_list.jpg");
    }



    .project-card-back {
      display: flex;
      justify-content: center;
      align-items: center;
      background: #016672;
      background: -moz-linear-gradient(left, #016672 0%, #0190A6 50%, #014047 100%);
      background: -webkit-linear-gradient(left, #016672 0%, #0190A6 50%, #014047 100%);
      background: linear-gradient(to right, #016672 0%, #0190A6 50%, #014047 100%);
      position: absolute;
      top: 0;
      left: 0;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
      overflow: hidden;
      -webkit-transform: rotateY(180deg);
      transform: rotateY(180deg);

      .button {
          color: rgb(255, 255, 255);
          font-size: 16px;
          line-height: 16px;
          padding: 12px;
          border-radius: 5px;
          font-family: var(--main-font);
          font-weight: normal;
          text-decoration: none;
          font-style: normal;
          font-variant: normal;
          text-transform: none;
          background-image: linear-gradient(to right, rgb(1, 102, 114) 0%, rgb(1, 144, 166) 50%, rgb(1, 64, 71) 100%);
          box-shadow: rgb(0, 0, 0) 5px 5px 15px 5px;
          border: 2px solid rgb(28, 110, 164);
          display: inline-block;
          width: 80px;
          text-align: center;

          &:hover {
            background: #016672;
          }
          &:active {
            background: #014047;
          }
        }
      }
    }
}

//Repsonsive design
@media screen and (max-width: 768px) {
  .main-block {
    justify-content: center;
    flex-direction: row;

    .row{
      width: 86vw;
      flex-direction: column;
      margin-top: 30px;
    }

    .project-card {
      margin-bottom: 50px;
    }
  }
}
